@import "tailwindcss";

@font-face {
  font-family: "gilroy";
  src: url("/fonts/gilroy_light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  src: url("/fonts/gilroy_regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  src: url("/fonts/gilroy_medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  src: url("/fonts/gilroy_bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  src: url("/fonts/gilroy_heavy.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@theme {
  /* Colors */
  --color-primary-pink: #ea1e6e;

  /* Font Family */
  --font-gilroy: "gilroy", sans-serif;
}

body {
  @apply font-gilroy font-normal;
}

.container {
  @apply max-w-350 mx-auto px-5 lg:px-10 xl:px-20 2xl:px-5;
}

.primary_btn {
  @apply rounded-2xl bg-primary-pink px-5 2xl:px-7 py-2.5 2xl:py-3 cursor-pointer text-sm md:text-base font-medium text-white transition-all duration-300;
}

.secondary_btn {
  @apply rounded-2xl bg-transparent px-5 2xl:px-10 cursor-pointer py-2.5 2xl:py-3 text-sm md:text-base font-medium text-white border border-white transition-colors duration-300 hover:bg-gray-200 hover:text-black;
}

/* =================== Animation =================== */
@keyframes simCardFadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.sim-grid {
  animation: simCardFadeIn 0.3s ease-out both;
}

@keyframes tabFadeIn {
  from {
    opacity: 0;
    transform: translateY(18px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.tab-content {
  animation: tabFadeIn 0.5s ease-out both;
}

@keyframes galleryFadeIn {
  from {
    opacity: 0;
    transform: scale(1.03);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.gallery-main-image {
  animation: galleryFadeIn 0.5s ease-out;
}
